h1,
h2, a {
    font-family: $font-headings;
}

a {
    font-size: 0.9em;
}
body {
    font-family: $font-headings;
}

/* 
h2 {
    margin-top: 2em;
}

p {
    font-size: 0.9em;
    margin: 2.4em 0;
} */

