h1,
h2, a {
    font-family: $font-headings;
}

body {
    font-family: $font-headings;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    font-weight: 300;
}
footer {
    font-size: 15px;
}
.header-text {
    font-size: 34px;
}


